@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
@font-face {
  font-family: RM;
  src: url(./Media/Fonts/RamadhanMubarak.ttf);
}
* ::-webkit-scrollbar {
  background: #101010;
  width: 0.5rem;
}
* ::-webkit-scrollbar-thumb {
  background: #202020;
}

body {
  background: #010101;
  margin: 0%;
}

#bg {
  pointer-events: none;
  position: fixed;
  width: 100vw;
  top: 0;
  height: 100vh;
  background: #010101;
  transition: opacity 1s;
}
#bg h1 {
  font-weight: 100;
  font-family: "RM";
  color: antiquewhite;
  position: absolute;
  left: 1rem;
  font-size: 25vw;
}
#bg img {
  position: absolute;
  bottom: -2vh;
  width: 100vw;
}

#pushover {
  position: fixed;
  bottom: -200%;
  width: 100vw;
  height: 200%;
  background: #010101;
}

#main {
  margin-top: 150vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.card {
  border-radius: 60px;
  padding: 20px;
  width: 80rem;
  height: 45rem;
  background: rgb(28, 28, 28);
  display: flex;
}
.card img {
  height: 40rem;
}