@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: RM;
    src: url(./Media/Fonts/RamadhanMubarak.ttf);
}
*{
    ::-webkit-scrollbar{
        background: #101010;
        width: .5rem;

    }
    ::-webkit-scrollbar-thumb{
        background: #202020;

    }
}
body{
    background: #010101;
    margin: 0%;


}

#bg{
    pointer-events: none;
    h1{
        //transition: transform .8s cubic-bezier(0.175, 0.885, 0.32, 1.1);
        font-weight: 100;
        font-family: 'RM';
        color: antiquewhite;
        position: absolute;
        left: 1rem;
        
        font-size: 25vw;
    }

    position: fixed;
    width: 100vw;
    top: 0;
    height: 100vh;
    background: #010101;

  
    img{
       
      //  transition: transform .8s cubic-bezier(0.175, 0.885, 0.32, 1.1);
        position: absolute;
        bottom: -2vh;
        width: 100vw;
    }

      transition: opacity 1s; 
   
}

#pushover{
    position: fixed;
    bottom: -200%;
    width: 100vw;
    height: 200%;
    background: #010101;
    //background: linear-gradient(to top,#F4803E,#d63075);
    //transition: transform .8s cubic-bezier(0.175, 0.885, 0.32, 1.1);


}

#main{
    margin-top: 150vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;

}

.card{
    border-radius: 1rem;
    font-family: 'Poppins', sans-serif;

    width: 50rem;
    height: 25rem;

    color: white;
    display: flex;
gap:1rem;
p{
    border-radius: inherit;
   text-transform: capitalize;
   text-align: center;
    align-self: center;
    height: 25rem;
    background: #0c0c0c;
}
    img{
        border-radius: inherit;
        align-self: center;

        height: 25rem;
    }
}