@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
@font-face {
  font-family: RM;
  src: url(./Media/Fonts/RamadhanMubarak.ttf);
}
* ::-webkit-scrollbar {
  background: #101010;
  width: 0.5rem;
}
* ::-webkit-scrollbar-thumb {
  background: #202020;
}

body {
  margin: 0%;
  height: 100rem;
}

#bg {
  position: fixed;
  width: 100vw;
  top: 0;
  height: 100vh;
  background: #101010;
}
#bg h1 {
  transition: transform 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  font-weight: 100;
  font-family: "RM";
  color: antiquewhite;
  left: 1rem;
  font-size: 25vw;
}
#bg img:nth-of-type(1) {
  bottom: 15vh;
  filter: blur(20px);
}
#bg img:nth-of-type(2) {
  filter: blur(10px);
  bottom: 10vh;
}
#bg img:nth-of-type(3) {
  filter: blur(10px);
  bottom: 5vh;
}
#bg img {
  filter: blur(1px) drop-shadow(0px -20px 30px rgba(0, 0, 0, 0.1));
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  position: absolute;
  bottom: -5vh;
  width: 100vw;
}
#bg div {
  position: fixed;
  bottom: -200%;
  width: 100vw;
  height: 200%;
  background: #101010;
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.1);
}
#bg div img {
  filter: none !important;
  width: auto;
  height: 30rem;
}