@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* ::-moz-selection {
  background: var(--selection);
}
* ::selection {
  background: var(--selection);
}
* ::-webkit-scrollbar {
  background: #101010;
  width: 0.5rem;
}
* ::-webkit-scrollbar-thumb {
  background: #202020;
}
img{
  user-select: none;
}
body {
  background: var(--bg);
  margin: 0%;
}

:root {
  --selection:rgba(175, 250, 37, 0.765);
  --accent:rgb(255, 94, 0);
  --bg:linear-gradient(to top,hsl(220, 100%, 2%),hsl(252, 100%, 2%));
  --text:rgb(255, 252, 252);
}

#bg {
  pointer-events: none;
  position: fixed;
  width: 100vw;
  top: 0;
  height: 100vh;
  background: var(--bg);
  transition: opacity 1s;
}
#bg h1 {
  font-weight: 100;
  font-family: "Poppins", sans-serif;
  color: antiquewhite;
  position: absolute;
  left: 1rem;
  font-size: 25vw;
}
#bg img {
  position: absolute;
  bottom: -2vh;
  width: 100vw;
}

#pushover {
  display: none;
  position: fixed;
  bottom: -200%;
  width: 100vw;
  height: 200%;
}

nav {
  color: var(--text);
  max-height: inherit;
  background: rgba(0, 0, 0, 0.39);
  gap: 2rem;
  z-index: 999;
  position: fixed;
  width: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -20px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 100,
  'opsz' 10000;
  font-size: 1.8em;
}

nav img{
  width: 200px;
  height: 100px;
  object-fit:scale-down;
  /* margin-left: -60px; */
  margin-top: 10px;
}

nav ul {
  padding: 1rem;
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding-right: 20px;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
}
nav ul a {
  text-decoration: none;
  color: var(--text);
}

nav ul a:hover{
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 1.3rem;
}

nav ul a.hover-underline-animation {
  display: inline-block;
  position: relative;
}

nav ul a.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav ul a.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#main {
  position: relative;
  margin-top: 5.2em; 
  margin-bottom: 2em;
  z-index: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  overflow: hidden;
  
}

.header{
  width: 100%;
  /* height: 100vh; */
  display: flex;
}

.header .headright{
  color: #ffffff;
  width: 100%;
  text-align: justify;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 30px;
  font-size: 30px;
}

.header .headright span{
  font-family: "Poppins", sans-serif;
  font-size: 100px;
}

.header .headleft{
  width: 100%;
}

.logo-slider{
  width: 100%;
}

.slider-area h2 {
	text-align: center;
  font-family: "Poppins", sans-serif;

	font-size: 60px;
	font-weight: 500;
	text-transform: capitalize;
	letter-spacing: 2px;
	margin: 100px 0 30px 0;
	color: #fff;
}

.slider-area hr{
  width: 50%;
}

.wrapper {
	display: flex;
  gap: 1rem;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	border-radius: .5rem;
	padding: .5rem;
	background: rgba(221, 221, 221, 0);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.item {
border-radius: inherit;
	animation: animate 25s alternate linear infinite;
}
.item img{
  width: 400px;
  height: 200px;
  object-fit: cover;
	border-radius:inherit;

}
.container:hover .item {
	animation-play-state: paused;
}
@keyframes animate {
	0% {
		transform: translateX(550px);
	}
	100% {
		transform: translateX(-550px);
	}
}

.cardh2 {
	text-align: center;
  font-family: "Poppins", sans-serif;
  display: flex;
	font-size: 60px;
	font-weight: 500;
	text-transform: capitalize;
	letter-spacing: 2px;
	color: #fff;
  margin-bottom: -30px;
}

.cardhr{
  width: 100%;
  color: #fff;
  margin-bottom: -25px;
  width: 50%;
}

.card {
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border: 1px solid var(--text);
  border-radius: 1rem;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  width: 55rem;
  height: 30rem;
  color: var(--text);
  display: flex;
  gap: 1rem;
  position: relative;
}
.card .EventName {
  font-weight: 900;
  font-size: 3rem;
}
.card .rside {
  height: inherit;
  display: flex;
  flex-direction: column;
}
.more{
  z-index: 10000000;
  color: white;
  width: 90%;
  font-family: "Poppins", sans-serif;

  background: rgb(30, 30, 30);
  display: none;
  position: fixed;

  height: 85vh;
  padding: 1rem;

  border-radius: 1rem;
  left: 50%;
  transform: translateX(-50%);
  overflow: auto;
  filter:drop-shadow(16px 16px 10px black);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.more::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.more {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.card .buttons, .more .buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;

}

.more .buttons.space{
  padding-bottom: 30px;
}
.card .buttons a,button,.more .buttons a {
  width: 50%;
  background: #ffffff;
  padding: 1rem;
  text-align: center;
  border-radius: 5px !important;
  text-decoration: none;
  color: #000;
  transition: 0.2s;
  border: none;
}
.card .buttons a:hover ,button:hover,.more .buttons a:hover{
  background: #000000;
  color: #ffffff;
  cursor: pointer;
}
.card p {
  text-transform: capitalize;
  height: inherit;
}

.card .lside{
  border-radius: 4px !important;
  align-self: center;
  background-color: #ffffff;
  height: inherit;
  width: 35%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.card img {
  border-radius: 4px !important;
  align-self: center;
  height: inherit;
  width: 35%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Footer Start*/


.foot-L {
  width: 45%;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.459);
  border-radius: 3rem;
}

.foot-r {
  width: 40%;
  margin: auto;
  padding: 0;
}

.dbce-logo {
  z-index: 4;
  width: 90%;
  height: auto;
  padding-bottom: 1rem;
}

.inspirus-logo {
  width: 15rem;
  
}

.footer-text-left a{
  color: white;
  font-size: 1.6rem;
  padding: 0.8rem;
  text-decoration: none;
  align-items: center;
  display: flex;
}

.footer-text-left img{
  width: 50px;
  margin-right: 10px;
}

.foot-r iframe {
  align-self: baseline;
  justify-self: space-around;
  width: 100%;
  height: 20rem;
  border-radius: 2rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: auto;
  justify-content: center;
  padding: 2rem;
}

.list li {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  justify-content: center;
  padding: 1rem;
  margin: 0.7rem;
  border-radius: 5rem;
}

.list li img {
  display: flex;
  align-items: center;
  width: 4rem;
  height: 3rem;
}

.list li:hover {
  background-color: slateblue;
}


footer{
  margin-top: 100px;
  width: 100%;
  height: inherit;
  background: none;
  color: rgb(255, 255, 255);
  /* z-index: 1; */
  position: relative;
}

.footer .footer-div{
  background-color: #382e2e;
  background-attachment: fixed;
  background-size: cover;
  /* border-radius: 1rem; */
  margin: 30px;
  height: inherit;
  position: relative;
  padding: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .fdiv-legend{
  font-family: RamadhanMubarak;
  font-size: 10em;
  font-weight: 500;
  filter:drop-shadow(16px 16px 10px black);
  position: absolute;
  z-index: 2;
  top: -25%;
}

/*End Of Footer*/

.more .info_header{


  font-size: 2.8em;



  text-align: left;

}



.more .tagline{

  font-style: italic;
  display: block;
  text-align: center;
  align-items: center;

}

.more .info_container{
  /* width: 100%; */
  height: inherit;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.more .info_container .blocks_2{
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.more .info_container .blocks_1{
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

/* card */
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}


.more .blocks {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  display: flex;
  font-size: 1.5em;
  color: #ffffff;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  padding-top: 60px;
}

.more .blocks.card_width{
  width: 91%;
}

.more .blocks.card_height{
  height: inherit;
  padding-top: 60px;
  padding-bottom: 20px;
}

.more .blocks.card_height::before{
  height: 104%;
  top: -2%;
}

.more .blocks.card_width::before{
  width: 102% !important;
  left: -1% !important;
}

/* .more .blocks:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
} */
/* .more .blocks:hover:before, .more .blocks:hover:after {
  animation: none;
  opacity: 0;
} */


.more .blocks::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.more .blocks::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.more .info_container .blocks span{
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
/* card end */

/* Responsive */
navMobile{
  display: none;
}




.preload {
  height: 100vh;
  width: 100vw;
  font-size: 2vw;
  font-weight: 10;
  text-align: center;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  background: black;
  color: white;
  transition: opacity 0.4s ease 1s;
  overflow: hidden;
}

#loadingDisp {
  z-index: inherit;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 4rem;
  font-weight: 1000;
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}


.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-ripple 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}


.lds-ripple div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-ripple div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-ripple div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-ripple {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

