@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: RM;
  src: url(./Media/Fonts/RamadhanMubarak.ttf);
}
* ::-moz-selection {
  background: var(--selection);
}
* ::selection {
  background: var(--selection);
}
* ::-webkit-scrollbar {
  background: #101010;
  width: 0.5rem;
}
* ::-webkit-scrollbar-thumb {
  background: #202020;
}

body {
  background: var(--bg);
  margin: 0%;
}

:root {
  --selection:rgba(175, 250, 37, 0.765);
  --accent:rgb(255, 94, 0);
  --bg:rgb(0, 0, 0);
  --text:rgb(255, 252, 252);
}

#bg {
  pointer-events: none;
  position: fixed;
  width: 100vw;
  top: 0;
  height: 100vh;
  background: var(--bg);
  transition: opacity 1s;
}
#bg h1 {
  font-weight: 100;
  font-family: "RM";
  color: antiquewhite;
  position: absolute;
  left: 1rem;
  font-size: 25vw;
}
#bg img {
  position: absolute;
  bottom: -2vh;
  width: 100vw;
}

#pushover {
  display: none;
  position: fixed;
  bottom: -200%;
  width: 100vw;
  height: 200%;
}

nav {
  color: var(--text);
  max-height: 4rem;
  background: rgba(0, 0, 0, 0.0666666667);
  gap: 2rem;
  z-index: 2;
  position: fixed;
  width: 100vw;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  list-style: none;
}
nav ul a {
  text-decoration: none;
  color: var(--text);
}

#main {
  position: relative;
  top: 8rem;
  z-index: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.card {
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border: 1px solid var(--text);
  border-radius: 1rem;
  font-family: "Poppins", sans-serif;
  width: 55rem;
  height: 30rem;
  color: var(--text);
  display: flex;
  gap: 1rem;
}
.card .EventName {
  font-weight: 900;
  font-size: 3rem;
}
.card .rside {
  height: inherit;
  display: flex;
  flex-direction: column;
}
.card .buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.card .buttons a {
  width: 50%;
  background: #ffffff;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  text-decoration: none;
  color: #000;
  transition: 0.2s;
}
.card .buttons a:hover {
  background: #000000;
  color: #ffffff;
}
.card p {
  text-transform: capitalize;
  height: inherit;
}
.card img {
  border-radius: inherit;
  align-self: center;
  height: inherit;
  width: 35%;
  -o-object-fit: cover;
     object-fit: cover;
}