@import url(./style.css);
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    margin: 0%;
    font-family: "Poppins", sans-serif;
}
.link{
    color: white;
    text-decoration: none;
    font-family: "Poppins";
    font-weight: 800;
}
/*team container*/
.team{
    scroll-snap-type: y mandatory;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;

}
.team-section
{
    margin: auto;
 
    width: 80%;
    padding: 2rem;

}

.member{

    width:20rem;
    height: 32rem;
    border-radius: 2rem;
    display: flex;
   margin: 1rem;
    justify-content: center;
    align-items: flex-start;
    transition: 400ms;
    -webkit-box-shadow: 10px 10px 54px -19px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 54px -19px rgba(0,0,0,0.75);
box-shadow: 10px 10px 54px -19px rgba(0,0,0,0.75);

}


.memberCard{
    border: 1px solid rgba(255, 255, 255, 0.41);
    backdrop-filter: blur(6px);
    color: #ffffff !important;
    height: 100%;
    width: 100%;
    border-radius: inherit;


}
.member:hover{
    transform: translateY(-1rem);


}



.dp{

    object-fit: cover;
    width: 100%;
    height: 20rem;
    border-radius: 2rem 2rem 0rem 0rem;
}
.name{
    font-weight: 900;
   
    font-size: 1.6rem;

}
.role{

    font-weight: 300;
    font-size: 1.4rem;
}
.title{
    color: rgb(255, 255, 255);
    margin-left: 60px;

    font-size: 25px;
    z-index: 0;
    padding: 20px 0px 0px 0px;
}

.section-header{
font-size: 4rem !important;
font-weight: 600 !important;


}
.section-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
position: relative;

    text-align: center;
}
.section-header hr{
   display: none;
}

.SocialButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
  color: #000000;
position:relative;
left: 50%;
translate: -50%;
    text-decoration: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    background: rgb(220, 220, 220);
    padding: .5rem 5rem;
   top: 1rem;
    transition: 400ms;
    
    
}

.whatsApp:hover{
    background: rgb(70, 182, 0);
    color: white;
    font-weight: 400;
}

#SwitchTab div:hover{
    background: rgb(102, 158, 255);
cursor: pointer;
  
  }

.LinkedIn:hover{
    background: #000000;
    color: white;
    font-weight: 400;
}

#ST{
   
   
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#SwitchTab{
    background: #000000;
    padding: .2rem;
  margin-top: 0rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;

  
}

#SwitchTab div{
    font-size: 1rem;
    background: rgb(255, 255, 255);
    width: 8rem;
    font-weight: 900;
    text-align: center;
  
   color: rgb(0, 0, 0);
    padding: 1rem;
    transition: background-color 400ms;
}

#std{
border-radius:  2rem 0rem 0rem 2rem;
}
#fac{
    border-radius:  0rem 2rem 2rem 0rem;
}

.Student{
    display: none ;

}
.Faculty{
    display: flex;
}
.tabselected{
color: #ffffff !important;
    background: rgb(0, 0, 0)!important;
}
nav{
    top: 0 !important;
    backdrop-filter: blur(0);
    background-color: transparent;
}

#SwitchTab{
    box-shadow: .4rem .4rem .7rem rgba(0, 0, 0, 0.438);
    opacity: 1;
    position: Fixed;
    z-index: 1000;
    bottom: 1rem;
    transition: 200ms;
   gap: .2rem;
}
#SwitchTab:hover{

    opacity: 1;
}

#SwitchTab div{

    border-radius: 2rem;
    width: 4rem;
    height: 1rem ;
    font-size: .8rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
@media (max-width: 500px) {

    #SwitchTab{
        opacity: .2;
        bottom: 4.4rem;
     
  
    }
    #SwitchTab:hover{
        opacity: 1;
    }
 
    .section-header{
    font-size: 2rem !important;
    white-space: wrap;
    font-weight: 1000 !important;
        }
    nav{
        display: none;
    }
    body{
        scroll-snap-type: x mandatory;
    }
    .name{
        font-weight: 900;
        text-shadow:  .2rem .2rem rgb(0, 0, 0);
        position: absolute;
        bottom:3rem;
        white-space: wrap;
        font-size: 2rem !important;
        width: inherit;
        display: flex;
        text-indent: 1rem;


    }
    .role{

        font-size: 1.3rem;
        text-indent: 1rem;
        text-shadow: .1rem .1rem rgb(0, 0, 0);
        bottom: 1rem;
        position: absolute;

        width: inherit;
        display: flex;

    }

    navMobile{
        overflow: hidden;
        display: flex;
        position: fixed;
        z-index: 1000;
        bottom: 0;
        list-style: none;
        width: 100vw;
    user-select: none;
        height: 4rem;
        justify-content: space-around;
        align-items: center;
    background: #000000;
    box-shadow: 0rem 9rem 5rem 10rem rgb(0, 0, 0);

    }
    navMobile a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: .2s;
    position: relative;


    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    }
    navMobile a:hover{
        color: var(--accent);

        

    }
    navMobile span{
        
        font-size: 10rem;
    }

        .member{
    scroll-snap-align: center;

        width:100vw;
        height: auto;
        border-radius: 0px !important;
    
    
        justify-content: center;
        align-items: flex-start;
        transition: 400ms;


    }


    .memberCard{
        border: none;
        backdrop-filter: blur(6px);
        color: #ffffff !important;

    width: 95vw;
    height: 95vw;
    border-radius: 0px !important;

    }
    .member:hover{
        transform: none;


    }



    .dp{
    border-radius: .2rem;
        object-fit: cover;
        width: 94vw;
        height: 94vw;
    }





    .SocialButton{
    
        color: #ffffff;
        position: absolute;
        height: 2rem !important;
        width: 4rem !important;
        left: 90% !important;
        bottom:90% !important;
        text-decoration: none;
        border-radius: 1rem;
        font-size: 1.2rem;
        background: rgba(220, 220, 220, 0);
        padding: .8rem .8rem;
        transition: none;
        
        
    }
    .whatsApp:hover{
        background: rgba(70, 182, 0, 0);
        color: rgb(0, 123, 224);
        font-weight: 400;
    }

}

